$sidebar-color: #B3B4B4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}

.wrapper {
    width: calc(100% - 120px);
    margin: 0 50px 0 70px;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #f8fafa;

    &__content {
        width: calc(100% - 550px);
        height: 100vh;  
        
        &__header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            margin-top: 30px;
        }

        &__header-bottom {
            text-transform: uppercase;
            color: $sidebar-color;
            font-size: 13px;
            margin-top: 30px;
        }

        &__body {
            margin-top: 100px;

            &--title {

                &--i {
                    font-size: 35px;
                    color: $sidebar-color;
                }

                &--span {
                    font-size: 40px;
                    margin-left: 30px;
                    color: #44424c;
                }
            }
        }

        &__bottom {
            margin-top: 200px;
            display: flex;
            justify-content: space-between;

            &--bookmarks {
                width: 600px;
                height: auto;

                &--title {
                    text-transform: uppercase;
                    color: $sidebar-color;
                    margin-bottom: 15px;
                }

                &--elements {
                     width: 500px;
                     height: 50px;
                     border-top: 1px solid #D8D4D4;
                     color: #44424c; 
                     display: flex; 
                     align-items: center;                   
                }
            }

            &--archives {
                width: 300px;
                height: 200px;
                background-color: #fff;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 4px solid #5f9ed0;

                &--title {
                    margin: 30px 20px;
                    text-transform: uppercase;
                    color: $sidebar-color;
                }

                &--text {
                    width: 150px;
                    margin: 30px 20px;
                }
            }

        }
    }
}



.left-sidebar {
    width: 150px;
    height: 100vh;
    border-right: 2px solid #D1D4D4;
    background-color: #fbfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icons {
        margin: 40px;
        color: $sidebar-color;
        font-size: 30px;
    }
}


.right-sidebar {
    width: 400px;
    height: 100vh;
    background-color: #fff;
    border-left: 2px solid #D1D4D4;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    &__drop {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        border-bottom: 1px dashed #D1D4D4;   

        &--icon {
           font-size: 58px;
           padding: 100px;
           color: $sidebar-color;
        }

        &--text {               
            color: $sidebar-color;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
        }

    }

    &__browse {
        width: 100%;
        height: calc(100% - 300px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 

        &--button {
           font-size: 16px;
           margin: 200px 0;
           padding: 15px 40px;
           color: #fff;
           background-color: #5f9ed0;
           border-radius: 33px;
           border: none;
           text-transform: uppercase;
        }

        &--text {               
            color: $sidebar-color;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 14px;
        }

    }
}